# -*- mode: snippet -*-
# contributor : eggcaker <eggcaker@gmail.com>
# name : puzzle of iEmacs
# key : pz
# --
#+BEGIN_HTML
---
title: $1
tags: $2
---
#+END_HTML

** Haskell version

#+BEGIN_SRC haskell
$0
#+END_SRC

**  PHP version

#+BEGIN_SRC php
$0
#+END_SRC
