# -*- mode: snippet -*-
# contributor : eggcaker <eggcaker@gmail.com>
# name : GTD weekly review
# key : wr
# --
#+BEGIN_HTML
---
title: Weekly review: Week ending `(format-time-string "%B %d, %Y")` 
tags: weekly
---
#+END_HTML

** Accomplished  this week 
+ BIZ
  - Earn 
    - $0
  - Build
  - Connect
+ Relationships
  - blabla
+ Life
  - blabla
+ Learn
  - blabla

** Plans for next week 
+ BIZ
+ Relationship
+ Life
+ Learn

** Time review 


