# -*- mode: snippet -*-
# contributor : eggcaker <eggcaker@gmail.com>
# name : Fat-Free new Class template
# key : fclass
# --
class
function
#
\$f3=\$this->framework;
\$db=\$this->db;
#
${4:Code}
#
echo
}
}
