# -*- mode: snippet -*-
# contributor : eggcaker <eggcaker@gmail.com>
# name : Fat-Free Controller snippet
# key : fcontr
# --
class
protected
\$framework,
\$db;
function
\$f3=Base::instance();
\$dbuser=\$f3->get('${2:dbuser}');
\$dbpasswd=\$f3->get('${3:dbpasswd}');
\$dbname=\$f3->get('${4:dbname}');
\$db=new
'mysql:host=localhost;port=3306;dbname='.\$dbname,
\$this->framework=\$f3;
\$this->db=\$db;
}
}
