project/project
project/taret
target
elpa
oauth2.plstore
url
ac-comphist.dat
auto-save-list
*.elc
post-init-local.*
pre-init.local.*
*~
el-get/*
bookmarks
org-clock-save.el
.org-id-locations
.loaddefs.el
.smex-items
_site
_deploy
.gh-pages
weibo.emacs
emms
swank
\#*
.\#*
#*
abbrev_defs
eshell
tramp
DS_Store
session.*
.cask
*.elc
/elpa
/tramp
/projectile.cache
/projectile-*
/var
incubator



