[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "snippets/java-mode"]
	path = snippets/java-mode
	url = git://github.com/eggcaker/android-snippets.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "vendor/git-emacs"]
	path = vendor/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "vendor/google-contacts"]
	path = vendor/google-contacts
	url = http://git.naquadah.org/git/google-contacts.el.git
