project/project
project/taret
target
elpa/*.txt
oauth2.plstore
url
ac-comphist.dat
auto-save-list
*.elc
post-init-local.*
pre-init.local.*
*~
bookmarks
org-clock-save.el
.org-id-locations
.loaddefs.el
.smex-items
_site
_deploy
weibo.emacs
emms
swank
\#*
.\#*
#*
